<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Windengine Data by Engine ID and Windpark ID</h1>
	<div th:if="${#lists.isEmpty(data)}" class="error">
		No data found for Windengine <span th:text="${windengineID}">text</span> in Windpark
		<span th:text="${windparkID}">text</span>.
		<div style="height: 2cm">&nbsp;</div>
	</div>

	<div th:if="${not #lists.isEmpty(data)}">
		<p>
			Data found for Windengine <span th:text="${windengineID}">text</span> in
			Windpark  <span th:text="${windparkID}">text</span>:
		</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>Windspeed ([[${data[0].unitWindspeed}]])</th>
					<th>Rotationspeed ([[${data[0].unitRotationspeed}]])</th>
					<th>Bladeposition ([[${data[0].unitBladeposition}]])</th>
					<th>Temperature ([[${data[0].unitTemperature}]])</th>
					<th>Power ([[${data[0].unitPower}]])</th>
					<th>Blindpower ([[${data[0].unitBlindpower}]])</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="record : ${data}">
					<!--<td><a href="account.html"
						th:href="@{|/accounts/${account.number}|}"
						th:text="|${account.number}|">11111111</a></td>
					-->
					<td th:text="${record.timestamp}"></td>
					<td th:text="${record.windspeed}"></td>
					<td th:text="${record.rotationspeed}"></td>
					<td th:text="${record.bladeposition}"></td>
					<td th:text="${record.temperature}"></td>
					<td th:text="${record.power}"></td>
					<td th:text="${record.blindpower}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/data/search}">Data Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
