<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Data Server</h1>

	<p>Data Server Microservice is running.</p>

	<p>
		To find data from the Windparks visit the search site. <br>
		Here are some examples: <br>

		<ul>
			<li><a href="/data/windzentrale/verbose">Find all data</a></li>
			<li><a href="/data/windpark/1">Find data from Windpark 1</a></li>
			<li><a href="/data/windengine/0/0">Find data from Windengine 0 from Windpark 0</a></li>
		</ul>
	</p>

	<!--
	<h3>Spring Boot URLs</h3>
	<p>For those interested, Spring Boot provides RESTful URLs for
		interrogating your application (they return JSON format data):</p>

	<ul>
		<li><a th:href="@{/actuator/beans}">The beans</a></li>
		<li><a th:href="@{/actuator/env}">The environment</a></li>
		<li><a th:href="@{/actuator/health}">Application health</a></li>
		<li><a th:href="@{/actuator/mappings}">URL Mappings</a> - including
		     the /account mappings</li>
		<li><a th:href="@{/actuator/metrics}">Application metrics</a> - add any 
		     metric name to the end of this URL, for example 
		     <a th:href="@{/actuator/metrics/http.server.requests}">/actuator/metrics/http.server.requests</a></li>
		<li><a th:href="@{/actuator}">List of actuator endpoints</a></li>
	</ul>
	-->

	<div th:replace="footer :: copy"></div>

</body>
</html>
