<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 style="color: #00bf61">Login page</h1>
        <form th:action="@{/login}" method="post">
            <!--<div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>-->
            <div class="error" th:if="${param.error}">
                <div class="alert alert-danger" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <span th:text="${errorMsg}"></span>
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>:
                <input type="text"
                       id="username"
                       name="username"
                       class="form-control"
                       autofocus="autofocus"
                       placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>:
                <input type="password"
                       id="password"
                       name="password"
                       class="form-control"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit"
                               name="login-submit"
                               id="login-submit"
                               class="form-control btn btn-info"
                               value="Log In">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>