<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>User Server</h1>

	<p>User Server Microservice is running.</p>

	<p>
		This account should exist: <a href="/users/123456789">123456789</a>.
		Look in <code>data.json</code> to see the rest
	</p>

	<!--
	<h3>Spring Boot URLs</h3>
	<p>For those interested, Spring Boot provides RESTful URLs for
		interrogating your application (they return JSON format data):</p>

	<ul>
		<li><a th:href="@{/actuator/beans}">The beans</a></li>
		<li><a th:href="@{/actuator/env}">The environment</a></li>
		<li><a th:href="@{/actuator/health}">Application health</a></li>
		<li><a th:href="@{/actuator/mappings}">URL Mappings</a> - including
		     the /account mappings</li>
		<li><a th:href="@{/actuator/metrics}">Application metrics</a> - add any 
		     metric name to the end of this URL, for example 
		     <a th:href="@{/actuator/metrics/http.server.requests}">/actuator/metrics/http.server.requests</a></li>
		<li><a th:href="@{/actuator}">List of actuator endpoints</a></li>
	</ul>
	-->

	<div th:replace="footer :: copy"></div>

</body>
</html>
